:root {
  --yellow: #bc993d;
  --maxwidth1: 1380px;
  --maxwidth2: 1280px;
  --maxwidth3: 1200px;
  --maxwidth4: 1100px;
  --maxwidth5: 1000px;
  --maxwidth6: 900px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.app {
  margin: 0 auto;
  /* background-color: brown; */
}
.header__section {
  width: 100%;
  /* height: 100vh; */
  /* background-color: rgb(230, 230, 230); */
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
.header__section__img {
  width: 100%;
  max-height: 650px;
  height: 100%;
  /* margin: 0 auto; */
  /* max-width: 1920px; */
  position: absolute;
}
.header__navbar {
  height: 80px;
  display: flex;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  position: fixed;
  margin: 0px auto;
  z-index: 999;
  /* padding-top: 1em; */
  /* top: 0px; */
}
.header__navbar__left {
  background-color: var(--yellow);
  border-top-right-radius: 50px 29px;
  height: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  margin: auto;
}

.header__navbar__center {
  max-width: var(--maxwidth1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin: 0 auto;
}
.header__navbar__center__active {
  box-shadow: 5px 5px 8px rgb(136, 136, 136, 0.5);
  background-color: black;
}
.header__logo img {
  width: 180px;
  padding: 1em;
  margin: auto;
}
.header__menu {
  /* background-color: aqua; */
  height: 50px;
  width: 50px;
  display: none;
}
.header__entries {
  padding-right: 2em;
}
.header__entry {
  text-decoration: none;
  padding: 2.5em;
  color: white;
  border-radius: 0 0 55px 0;
  font-weight: 500;
}
.header__entry:hover {
  background-color: var(--yellow);
}
.header__navbar__right {
  /* background-color: aqua; */
  flex: 1;
}
.pak__map img {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 100%;
  max-height: 550px;
  /* margin-top: 90px; */
  margin: 90px auto 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__text {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 270px;
  font-size: 27px;
}
.header__heading {
  font-size: 50px;
}
.header__heading span {
  font-weight: bold;
}
.about__section {
  display: flex;
  max-width: var(--maxwidth1);
  align-items: center;
  justify-content: space-between;
  margin: 3.3em auto;
}
.about__section__text {
  width: 40%;
}
.about__section__text__heading {
  font-size: 40px;
  font-weight: bold;
}
.about__section__text__heading::before {
  content: "";
  position: absolute;
  width: 7em;
  height: 0.7em;
  background-color: var(--yellow);
  transition: all 1s;
  z-index: -1;
  margin-top: 0.5em;
  opacity: 80%;
}
.about__section__text__subtext {
  font-size: 18px;
  margin-top: 1em;
}
.about__section__img img {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.components__section {
  margin-top: 10em;
  width: 100%;
}
.components__background {
  width: 93%;
  background-color: #ebebeb;
  height: 300px;
  border-radius: 0 104px 0 0;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  position: absolute;
}
.components__border {
  border: 1px solid #707070;
  height: 300px;
  border-radius: 0 104px 0 0;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  width: 101.5%;
  top: -1.5em;
  position: relative;
}
.components__section__info {
  position: relative;
  z-index: 3;
  max-width: var(--maxwidth1);
  margin: 0 auto;
  /* background-color: #707070; */
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 4em;
  /* align-items: center;
  justify-content: center; */
}
.components__section__cards {
  display: flex;
  justify-content: space-between;
  /* max-width: var(--maxwidth1); */
  width: 100%;
  margin-top: 3em;
  flex-wrap: wrap;
}
.component__section__card {
  width: 22%;
  /* background-color: #707070; */
  margin-bottom: 2em;
}
.component__section__card__img img {
  width: 100%;
}
.component__section__card__label {
  font-size: 18px;
  font-weight: bold;
}
.component__section__card__label::before {
  content: "";
  position: absolute;
  width: 6%;
  height: 3%;
  background-color: var(--yellow);
  transition: all 1s;
  z-index: -1;
  margin-top: 0.5em;
  opacity: 80%;
}
.specification__section {
  max-width: var(--maxwidth1);
  width: 100%;
  /* background-color: aliceblue; */
  margin: 0 auto;
}
.specification__section__info {
  width: 100%;
  margin-top: 10em;
  justify-content: space-between;
  display: flex;
  height: 45vh;
  margin-bottom: 10em;
}
.specification__section__left {
  width: 65%;
  display: flex;
  padding-top: 3em;
  justify-content: space-between;
}
.specification__section__left__upper {
  display: flex;
  flex-direction: column;
}
.specification__section__left__down {
  display: flex;
  flex-direction: column;
}

.specification__section__left__upper__one {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 5em;
}
.specification__section__left__upper__one__info {
  margin-left: 1em;
}
.specification__section__left__upper__one__info__heading {
  font-weight: 400;
}
.specification__section__left__upper__one__info__subheading {
  font-weight: bold;
  background-color: #bc993d;
  color: #ffffff;
  width: fit-content;
}
.specification__section__right {
  width: 30%;
  height: 400px;
  background-color: var(--yellow);
  border-radius: 0 100px 0 0;
  padding: 0.5em;
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: flex-end;
}
.specification__section__right::after {
  content: "";
  position: absolute;
  transition: all 1s;
  border: 2px solid rgb(104, 103, 103);
  z-index: -1;
  margin-top: -0.9em;
  margin-left: 0.3em;
  width: 23%;
  height: 400px;
  border-radius: 0 100px 0 0;
}
.features__section {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.features__section__background {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.features__section__left {
  width: 46%;
  height: 490px;
  border: 1px solid black;
  border-radius: 0 150px 0 0;
}
.features__section__right {
  margin-top: 100px;
  width: 50%;
}
.features__section__right img {
  width: 100%;
}
.features__section__left__info {
  max-width: var(--maxwidth1);
  width: 100%;
  height: 300px;
  z-index: 800;
  position: relative;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}
.features__section__left__heading {
  margin-top: -520px;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}
.features__section__left__subheading {
  background-color: #ebebeb;
  font-size: 24px;
  width: fit-content;
  padding: 0.8em 5.5em;
  border-radius: 0 75px 0 0;
  cursor: pointer;
  margin-bottom: 1em;
}
.features__section__left__subheading span {
  font-weight: bold;
}
.features__section__left__subheading:hover {
  background-color: #bc993d;
  color: white;
}
.Location__distance__section {
  height: 200px;
  margin-top: -140px;
}
.Location__distance__section__info {
  max-width: var(--maxwidth1);
  width: 100%;
  height: 100px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}
.Location__distance__section__info__cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4em;
  justify-content: space-between;
}
.Location__distance__section__info__card {
  display: flex;
  border: 1px solid black;
  border-radius: 0 100px 0 0;
  width: 49%;
  margin-bottom: 2em;

  align-items: center;
  cursor: pointer;
}
.Location__distance__section__info__card:hover {
  background-color: black;
  color: #ffffff;
}
.Location__distance__section__info__card__icon {
  width: 30%;
  background-color: #bc993d;
  padding: 2em 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Location__distance__section__info__card__info {
  width: 70%;
  font-size: 22px;
  padding: 1.5em 3em;
  cursor: pointer;
}
.Location__distance__section__info__card__info:hover {
  font-weight: bold;
}
.Location__distance__section__info__card__info span {
  font-weight: bold;
}
/*-----------------------------------------------------------------------------------------*/

@media (max-width: 1660px) {
  .components__section__cards {
    width: 95%;
  }
}
@media (max-width: 1550px) {
  .header__navbar__center {
    max-width: var(--maxwidth2);
  }
  .about__section {
    max-width: var(--maxwidth2);
  }
  .about__section__text__heading::before {
    width: 18.5%;
  }
  .components__section__info {
    max-width: var(--maxwidth2);
  }
  .components__section__cards {
    width: 97%;
  }
  .specification__section {
    max-width: var(--maxwidth2);
  }
  .specification__section__right::after {
    width: 25%;
  }
  .specification__section__left {
    padding-top: 2em;
  }
  .features__section__left__info {
    max-width: var(--maxwidth2);
  }
  .features__section__left__heading {
    margin-top: -450px;
  }
  .Location__distance__section__info {
    max-width: var(--maxwidth2);
  }
}
@media (max-width: 1440px) {
  .header__navbar__center {
    max-width: var(--maxwidth3);
  }

  .header__entries {
    padding-right: 1em;
  }
  .header__entry {
    padding: 2.5em 1.5em;
    font-size: 14px;
  }
  .about__section {
    max-width: var(--maxwidth3);
  }
  .about__section__text__subtext {
    font-size: 16px;
  }
  .components__section__info {
    max-width: var(--maxwidth3);
  }
  .components__section__cards {
    width: 97%;
  }
  .specification__section {
    max-width: var(--maxwidth3);
  }
  .specification__section__right {
    font-size: 2em;
  }
  .specification__section__right::after {
    width: 27%;
  }
  .specification__section__left__upper__one {
    margin-top: 4em;
  }
  .specification__section__left {
    padding-top: 4em;
  }
  .features__section__left__info {
    max-width: var(--maxwidth3);
  }
  .Location__distance__section__info {
    max-width: var(--maxwidth3);
  }
}
@media (max-width: 1360px) {
  .components__section__cards {
    width: 95%;
  }
  .Location__distance__section__info__card__icon {
    padding: 2em 2em;
  }
}
@media (max-width: 1300px) {
  .header__navbar__center {
    max-width: var(--maxwidth4);
  }
  .about__section {
    max-width: var(--maxwidth4);
    justify-content: space-between;
  }
  .about__section__img img {
    width: 500px;
  }
  .about__section__text__heading::before {
    width: 22.5%;
  }
  .components__section__info {
    max-width: var(--maxwidth4);
  }
  .components__section__cards {
    width: 90%;
  }
  .specification__section {
    max-width: var(--maxwidth4);
  }
  .specification__section__left__upper__one {
    margin-top: 3em;
  }
  .specification__section__left {
    width: 90%;
  }
  .specification__section__info {
    flex-direction: column;
    margin-bottom: 25em;
    margin-top: 5em;
  }
  .specification__section__right {
    width: 90%;
    height: 80%;
    align-items: flex-end;
    margin-top: 5em;
    margin-bottom: 1em;
  }
  .specification__section__right::after {
    z-index: -1;
    margin-top: -1em;
    margin-left: 0.3em;
    width: 78%;
    height: 15vh;
  }
  .features__section__left__info {
    max-width: var(--maxwidth4);
  }
  .Location__distance__section__info {
    max-width: var(--maxwidth4);
  }
}
@media (max-width: 1180px) {
  .header__navbar__center {
    max-width: var(--maxwidth5);
  }
  .about__section {
    max-width: var(--maxwidth5);
  }
  .about__section__img img {
    width: 500px;
  }
  .about__section__text__heading::before {
    width: 27%;
  }
  .components__section__info {
    max-width: var(--maxwidth5);
    top: 6em;
  }
  .components__section__cards {
    width: 90%;
  }
  .specification__section {
    max-width: var(--maxwidth5);
  }
  .specification__section__left__upper__one {
    margin-top: 2em;
  }
  .specification__section__right::after {
    width: 80%;
  }
  .features__section__left__info {
    max-width: var(--maxwidth5);
  }
  .features__section__left__heading {
    font-size: 36px;
    margin-top: -1090px;
  }
  .features__section__right img {
    height: 30%;
  }
  .features__section__background {
    flex-direction: column;
  }
  .features__section__right {
    width: 100%;
  }
  .features__section__left {
    width: 60%;
  }
  .Location__distance__section__info {
    max-width: var(--maxwidth5);
  }
  .Location__distance__section__info__card__icon {
    padding: 2em 1em;
  }
}
@media (max-width: 1050px) {
  .header__navbar__center {
    max-width: var(--maxwidth6);
  }
  .about__section {
    max-width: var(--maxwidth6);
  }
  .about__section__img img {
    width: 450px;
  }
  .components__section__info {
    max-width: var(--maxwidth6);
  }
  .specification__section {
    max-width: var(--maxwidth6);
  }
  .specification__section__right::after {
    width: 81%;
  }
  .features__section__left__info {
    max-width: var(--maxwidth6);
  }
  .Location__distance__section__info {
    max-width: var(--maxwidth6);
  }
}
@media (max-width: 1000px) {
  .specification__section__right::after {
    width: 85%;
  }
  .features__section__left__heading {
    font-size: 36px;
    margin-top: -1030px;
  }
}
@media (max-width: 945px) {
  .header__menu {
    display: flex;
    align-items: center;
  }
  .header__entries {
    display: flex;
    flex-direction: column;
    padding-top: 400px;
    background-color: black;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    cursor: pointer;
    z-index: -1;
  }
  .header__entry {
    padding: 1.5em;
  }
  .about__section {
    flex-direction: column;
    margin-top: 6em;
  }
  .about__section__text {
    width: 90%;
  }
  .about__section__text__subtext {
    margin-bottom: 3em;
  }
  .about__section__img {
    width: 90%;
  }

  .about__section__img img {
    width: 100%;
    display: flex;
  }
  .about__section__text__heading::before {
    width: 30%;
  }
  .component__section__card {
    width: 40%;
    margin-right: 3em;
  }
  .components__section__info {
    margin-left: 3em;
    top: 6em;
  }
  .components__section__cards {
    width: 80%;
    justify-content: center;
  }
  .component__section__card__label::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 1.7%;
    background-color: var(--yellow);
    transition: all 1s;
    z-index: -1;
    margin-top: 0.6em;
  }
  .specification__section__right::after {
    width: 90%;
  }
  .specification__section__left {
    padding-left: 3em;
  }
  .features__section__left__info {
    padding: 1em;
  }
  .Location__distance__section__info {
    padding: 1em;
  }
  .Location__distance__section__info__card {
    width: 90%;
  }
}
@media (max-width: 840px) {
  .specification__section__left {
    flex-direction: column;
  }
  .features__section__left {
    margin-top: 15em;
    width: 80%;
  }
  .features__section__left__heading {
    margin-top: -940px;
  }
  .features__section__left__subheading {
    padding: 0.8em 2em;
  }
}
@media (max-width: 650px) {
  .about__section {
    margin-top: 10em;
  }

  .about__section__text__heading {
    font-size: 26px;
  }
  .about__section__text__heading::before {
    width: 30%;
    height: 2%;
  }
  .about__section__text__subtext {
    font-size: 14px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .component__section__card {
    width: 95%;
  }
  .component__section__card__label::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 0.9%;
    background-color: var(--yellow);
    transition: all 1s;
    z-index: -1;
    margin-top: 0.6em;
  }
  .features__section__left {
    height: 350px;
  }
  .features__section__left__heading {
    font-size: 28px;
    margin-top: -740px;
  }
  .features__section__left__subheading {
    font-size: 16px;
  }
  .Location__distance__section__info__card__info {
    font-size: 18px;
  }
}
@media (max-width: 550px) {
  .pak__map img {
    margin: 100px auto 0px auto;
  }
  .header__text {
    font-size: 20px;
  }
  .header__heading {
    font-size: 40px;
  }
  .about__section {
    margin-top: 12em;
  }
  .about__section__text__heading {
    font-size: 22px;
  }
  .features__section__left__heading {
    margin-top: -680px;
  }
}
@media (max-width: 482px) {
  .features__section__left {
    border: none;
    height: 190px;
  }
  .features__section__left__heading {
    margin-top: -600px;
  }
}
@media (max-width: 450px) {
  .pak__map img {
    margin: 110px auto 0px auto;
  }
  .about__section {
    margin-top: 17em;
  }
  .features__section__left__info {
    border: none;
  }
}
@media (max-width: 350px) {
  .about__section {
    margin-top: 19em;
  }
  .component__section__card__label::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 0.9%;
    background-color: var(--yellow);
    transition: all 1s;
    z-index: -1;
    margin-top: 0.6em;
  }
}
